* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F7F7F2;
}


/* HOME */


.startScreen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.start-screen--navigation-container--navigation {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 3.7rem;
}

.start-screen--navigation-container--navigation--nav--link {
  text-decoration: none;
  color: #261C15;
}

.start-screen--navigation-container--navigation--nav--link.HOME {
  font-weight: bold;
}

.start-screen--navigation-container--navigation--nav--link:hover {
  font-weight: bold;
}

.start-screen--navigation-container--navigation--nav {
  text-decoration: none;
  color: #261C15;
}


/* welcome */
.welcome-container {
  display: flex;
  gap: 20px;
  color: #63A088;
  font-size: 15rem;
  -webkit-text-stroke: 20px #63A088;
  text-shadow: -10px -10px 10px #F7F7F2;
  cursor: default;
}

/* welcome keyframes */

@keyframes closeText {
  0% {
    -webkit-text-stroke: 20px #63A088;
  }

  5% {
    -webkit-text-stroke: 18px #63A088;
  }

  10% {
    -webkit-text-stroke: 16px #63A088;
  }

  15% {
    -webkit-text-stroke: 14px #63A088;
  }

  20% {
    -webkit-text-stroke: 12px #63A088;
  }

  25% {
    -webkit-text-stroke: 10px #63A088;
  }

  30% {
    -webkit-text-stroke: 8px #63A088;
  }

  35% {
    -webkit-text-stroke: 6px #63A088;
  }

  40% {
    -webkit-text-stroke: 4px #63A088;
  }

  45% {
    -webkit-text-stroke: 2px #63A088;
  }

  /* white */
  50% {
    -webkit-text-stroke: 0px #F7F7F2;
  }

  55% {
    -webkit-text-stroke: 2px #F7F7F2;
  }

  60% {
    -webkit-text-stroke: 4px #F7F7F2;
  }

  65% {
    -webkit-text-stroke: 6px #F7F7F2;
  }

  70% {
    -webkit-text-stroke: 8px #F7F7F2;
  }

  75% {
    -webkit-text-stroke: 10px #F7F7F2;
  }

  80% {
    -webkit-text-stroke: 12px #F7F7F2;
  }

  85% {
    -webkit-text-stroke: 14px #F7F7F2;
  }

  90% {
    -webkit-text-stroke: 16px #F7F7F2;
  }

  95% {
    -webkit-text-stroke: 18px #F7F7F2;
  }

  100% {
    -webkit-text-stroke: 20px #F7F7F2;
  }
}

@keyframes openText {
  0% {
    -webkit-text-stroke: 20px #F7F7F2;
  }

  5% {
    -webkit-text-stroke: 18px #F7F7F2;
  }

  10% {
    -webkit-text-stroke: 16px #F7F7F2;
  }

  15% {
    -webkit-text-stroke: 14px #F7F7F2;
  }

  20% {
    -webkit-text-stroke: 12px #F7F7F2;
  }

  25% {
    -webkit-text-stroke: 10px #F7F7F2;
  }

  30% {
    -webkit-text-stroke: 8px #F7F7F2;
  }

  35% {
    -webkit-text-stroke: 6px #F7F7F2;
  }

  40% {
    -webkit-text-stroke: 4px #F7F7F2;
  }

  45% {
    -webkit-text-stroke: 2px #F7F7F2;
  }

  /* white */
  50% {
    -webkit-text-stroke: 0px #63A088;
  }

  55% {
    -webkit-text-stroke: 2px #63A088;
  }

  60% {
    -webkit-text-stroke: 4px #63A088;
  }

  65% {
    -webkit-text-stroke: 6px #63A088;
  }

  70% {
    -webkit-text-stroke: 8px #63A088;
  }

  75% {
    -webkit-text-stroke: 10px #63A088;
  }

  80% {
    -webkit-text-stroke: 12px #63A088;
  }

  85% {
    -webkit-text-stroke: 14px #63A088;
  }

  90% {
    -webkit-text-stroke: 16px #63A088;
  }

  95% {
    -webkit-text-stroke: 18px #63A088;
  }

  100% {
    -webkit-text-stroke: 20px #63A088;
  }
}


/* ABOUT */

.green-focus {
  color: #63A088;
}

.about-container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.about-container--greetings {
  padding-top: 100px;
}

.about-container--greetings p {
  font-size: 3.37rem;
  font-weight: lighter;
  margin: 0;
}

.about-container--description {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 560px;
  font-size: 24px;
  line-height: 36px;
}

.about-container--description--tools-headline {
  margin-top: 100px;
}

.about-container--description--tools {
  margin: 0 auto;
  width: 200px;
  color: #261C15;
  display: flex;
  gap: 20px;
  font-size: 40px;
}

/* Work */